.tapeAlt{position: fixed; left:0; right:0; top:0; bottom:0;}
.tapeCenter{max-width: 640px; height:100%; margin:0 auto; background:#fff url('../image/tape_footer.jpg') no-repeat center bottom; background-size: 100%; position: relative;}
.tapeCenter .clear{position: absolute; right:10px; top:10px; font-size: 20px; color:#A2A2A2;}
.tapeCenter .tape_tit{font-size: 16px; font-weight: normal; color:#06c1ae; text-align: center; padding: 120px 0 60px;}
.tapeCenter .tape_text{ text-align: center;}
.tapeCenter .tape_text h5{color:#999; font-size: 14px; margin-bottom: 20px;}
.tapeCenter .tape_text .tape_icon{text-align: center;}
.tapeCenter .tape_text .tape_icon a{display: inline-block; background: url('../image/tape_start.jpg') no-repeat; background-size: 80px 80px; width:80px; height: 80px;}
.tapeCenter .tape_text .tape_icon a.cur{ background: url('../image/tape_end.jpg') no-repeat; background-size: 80px 80px;}
.tapeAlt .scheduleAlt{display: none; max-width: 640px; position: fixed; left:0; right:0; top:0; bottom:0; margin:0 auto;}
.tapeAlt .scheduleAlt .bgAlt{position: absolute; left:0; right:0; top:0; bottom:0; background: #000; opacity: 0.5;}
.tapeAlt .scheduleText{background: url('../image/bg.png'); position: absolute; left:0; right:0; top:50%; height:80px; margin:-40px 10px 0; border-radius: 5px; color:#fff;}
.tapeAlt .scheduleText .pic{padding:25px 10px 0 10px; display: inline-block; float: left;}
.tapeAlt .scheduleText em{line-height: 80px; font-size: 16px;}