
body {
}
.font_div{ overflow:hidden}
.font_size{ display:block; float:left; margin-right:15px; font-size:14px;}
.mo_l{ margin-left:0;}
.ev_span1{ width:33.3%; float:left; font-size:16px;color:#333;padding:15px 0; text-align:left}
.ev_span1 em{color:#ff0000; padding-right:10px; font-style:normal}
.ev_mony{ width:100%; clear:both; padding-bottom:15px; font-size:16px;color:#888888; text-align:left }
.ev_mony em{ text-decoration:line-through; font-style:normal}

.jian_div1{padding:10px 0 0 0px; overflow:hidden}
.jian_div1_l{ width:50%; float:left; border-top:1px solid #EDEDED; border-bottom:1px solid #EDEDED;}
.jian_div1_l span{ display:block; width:100%; padding:12px 0; text-align:center; font-size:18px;color:#333; margin:2px 0;}
.bor_no span{border-right:1px solid #EDEDED;}
.jian_div{ margin:20px 15px 10px  15px;}
.jian_div span{background:red;color:#fff;margin-right:5px; display:inline-block; width:20px; height:20px; text-align: center; line-height: 20px;}
.pad_mar{ margin:0 15px; padding:0;}
.ev_canshu{margin:0 15px; margin-top:5px}
.ev_canshu1{ width:100%; overflow:hidden; padding:5px 0;}
.ev_canshu1 span{ display:block; width:50%; float:left; text-align:center; font-size:16px;color:#333; text-align:left}
.can_ma{ display:block; padding:10px; margin:0 15px; background:url(../image/return2.png) no-repeat right center; font-size:18px;color:#333;}
.mo_bor{margin:0; border:0;}
.ev_list_div{ width:100%;}
.ev_list_div ul{ width:100%; overflow:hidden}
.ev_list_div ul li{ background-color:#FFF; margin:10px 10px 0 10px;padding-top: 10px;}
.shop_tit_img1{left:10px; border:0; border-radius:0}
.shop_tit_img1 img{ max-width:100px; max-height:100px;}
.shop_content_summary{padding-left:10px;}
.text_bor{ text-decoration:line-through}


.alert_div{display: block; position:fixed; z-index: 100; top:0; left:0; right:0; bottom:0; max-width: 768px; margin:0 auto;}
.alert_div_bg{position:absolute; width:100%; height:100%; background:#000; opacity: 0.5; filter:alpha(opacity=80); -webkit-opacity: 0.5; -moz-opacity: 0.8;}
.alert_div_c{position:absolute; width:100%; background-color:#FFF; bottom:10px; left:0; right:0; margin:0 auto; }
.alert_tit{ max-width:768px; border-bottom:2px solid #EDEDED;padding-bottom:10px; position:relative; top:-40px; padding-left:128px;}
.alert_tit span{ display:block; border:1px solid #CCCCCC; width:100px; height:100px; padding:3px; background:#FFF; position:absolute;left:10px;}
.alert_tit_r{ width:77%;height:65px; padding-top:40px;padding-left:2%;}
.alert_tit_r p{ display:block; width:100%; font-size:16px;color:#3e3e3e; margin-top:5px; height:auto; line-height:21px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;  -webkit-box-orient: vertical;}
.alert_tit_r strong{ display:block; width:100%; font-size:16px;color:#ff0000;}
.alert_a{ width:30px; height:30px; border:1px solid #9F9F9F; text-align:center; line-height:27px;color:#9F9F9F; font-size:24px; position:absolute;right:10px; top:50px; border-radius:50%;}
.alert_con ,.alert_con1{ margin:0 15px;position: relative;top: -40px; overflow-x:auto;}
/*.alert_con ,.alert_con1{ margin:0 15px;position: relative;top: -40px;}*/
.alert_con_t{ width:1000%; border-bottom:1px solid #EDEDED; overflow:hidden}
/*.alert_con_t{ width:100%; border-bottom:1px solid #EDEDED; overflow:hidden}*/
.alert_con_t span{ display:block; width:80px; float:left; text-align:center; padding:10px 0; font-size:14px;color:#3e3e3e;}
/*.alert_con_t span{ display:block; width:15%; float:left; text-align:center; padding:10px 0; font-size:14px;color:#3e3e3e;}*/
.alert_con_t strong{ display:block; width:100px; float:left; text-align:center; padding:10px 0; font-size:14px;color:#3e3e3e; font-weight:normal}
/*.alert_con_t strong{ display:block; width:40%; float:left; text-align:center; padding:10px 0; font-size:14px;color:#3e3e3e; font-weight:normal}*/
.alert_con_c{ width:1000%;overflow:hidden; border-bottom:1px dashed #EDEDED;}
/*.alert_con_c{ width:100%;overflow:hidden; border-bottom:1px dashed #EDEDED;}*/
.alert_con_c span{ display:block; width:80px; float:left; text-align:center; padding:10px 0; font-size:14px;color:#555555;}
/*.alert_con_c span{ display:block; width:15%; float:left; text-align:center; padding:10px 0; font-size:14px;color:#555555;}*/
.alert_con_c strong{display:block; width:80px; float:left; text-align:center; padding:10px 0; font-size:14px;color:#ff0000; font-weight:normal}
/*.alert_con_c strong{display:block; width:15%; float:left; text-align:center; padding:10px 0; font-size:14px;color:#ff0000; font-weight:normal}*/

.yunsun{ width:100px; height:27px; float:left; padding:4px 0;}
/*.yunsun{ width:40%; height:27px; float:left; padding:4px 0;}*/
.yunsun1{ width:99px;height:27px; overflow:hidden; margin:0 auto; margin-top:2px;}
.yunsun1 a{ display:block; width:25px; height:25px; line-height:23px; font-size:22px; color:#242424; text-align:center; float:left}
.yunsun1 .jia{ border:1px solid #CCCCCC; border-radius:4px 0 0 4px;}
.yunsun1 .zhong{border:1px solid #CCCCCC; border-left:0; border-right:0; float:left; width:45px; height:25px;font-size:18px; color:#242424;line-height:25px; text-align:center}
.yunsun1 .jian{ border:1px solid #CCCCCC; border-radius:0px 4px 4px 0px;}

.alert_color{ max-width:768px; margin:0 auto}
.alert_color_t{ width:100%; border-bottom:1px solid #EDEDED;padding-bottom:10px; padding-top:10px;}
.alert_color_t span{ display:block; border-left:4px solid #FF6600;color:#3e3e3e; font-size:18px;padding-left:9px;}
.alert_color_c{ width:100%;padding:10px;padding-bottom:0;overflow:hidden}
.alert_color_c span{ display:block; padding:5px 15px; float:left; margin-right:15px;text-align:center; background-color:#F5F5F5; border-radius:4px;color:#3e3e3e; font-size:16px; margin-bottom:10px;}
.alert_color_c .bg_color1{background-color:#FF6600;color:#FFF}
.shuliang{ padding:25px 0; max-width:768px; border-top:1px solid #EDEDED; overflow:hidden; position:relative; padding-right:99px;}
.shuliang_l{ overflow:hidden}
.shuliang_l span{color:#3e3e3e; font-size:14px;}
.shuliang_l span em{ color:#F00;font-size:18px;}
.shuliang_l p{ display:block; float:right;color:#999; font-size:14px; line-height:24px; margin-right:15px;}
.ev_t_footer_mony{ width:100%; overflow:hidden}
.ev_t_footer  .ev_t_footer_mony span{ display:block; float:left;color:#FFF; font-size:20px; height:50px; line-height:60px;width:auto;padding-left:5px;}
.ev_t_footer  .ev_t_footer_mony p{ display:block;float:left;color:#FFF; font-size:14px;height:50px; line-height:62px; margin-left:5px; }

.over_y{ height:177px;}
#alert_con_t,#alert_con_c{display: inline-block;}
.yunsun .no_click{background:#ddd; color:#ccc;}
/*.over_y{ height:177px;overflow-y: scroll;}*/
.restrict_text{display: block; position: absolute; right: 5px; background: #ff0000; color: #ffffff; padding: 1px 10px; border-radius: 4px; overflow: hidden; margin-top: 4px; font-size: 12px;}